@model ML.Materia

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>REGISTRO DE MATERIAS</h2>

<div class="row">
    <div class="col-12">
        <h2>Usuario</h2>
        <h5>Ingrese los datos de la Materia:</h5>
    </div>
</div>
</hr>

@using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-1" style="display: none;">
            @Html.TextBoxFor(model => model.idMateria, new { @class = "hidden form-control", autocomplete = "off" })
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.Nombre)
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Ejemp: Ariel4502", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            @Html.LabelFor(model => model.Costo)
            <div class="input-group mb-2">
                <span class="input-group-text"><i class="bi bi-controller"></i></span>
                @Html.TextBoxFor(model => model.Costo, new { @class = "form-control", @placeholder = "Ejemp: Ariel4502", autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Costo, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="glyphicon-up">
            <div class="form-group">
                <div class="col-md-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Regresar", "GetAll", "Materia", htmlAttributes: new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    </div>
}

